@font-face {
    font-family: 'helvetica-47';
    src: url('./fonts/HELVETICANEUELTPRO-ROMAN.ttf') format('truetype');
    
  }
@font-face {
    font-family: 'helvetica-35';
    src: url('./fonts/HELVETICANEUELTPRO-TH.ttf') format('truetype');

  }
@font-face {
    font-family: 'helvetica-37';
    src: url('./fonts/HELVETICANEUELTPRO-THCN.ttf') format('truetype');

  }
@font-face {
    font-family: 'helvetica-25';
    src: url('./fonts/HELVETICANEUELTPRO-ULTLT.ttf') format('truetype');

  }
  @font-face {
    font-family: 'steiner-light';
    src: url('./fonts/STEINER-LIGHT.ttf') format('truetype');

  }
  @font-face {
    font-family: 'steiner-regular';
    src: url('./fonts/STEINER-NORMAL.ttf') format('truetype');

  }
body { 
    background-color: #132336;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    
}
.pre{
    font-family: 'helvetica-37';
    font-size: 12.8px;
    color: #132336;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}
.divcontainer{
    padding-top: 131px;
    width:100vw
}
nav{
    
    font-size: 2.441em;
    position: absolute;
    bottom: 30px;
   
    left: 0;
    padding:30px;
    transition: bottom 0.3s ease;

}
nav a{
    font-family: 'helvetica-35';
}

p,a,ul,li,ol {
    font-family: 'helvetica-37';
    color: #ECDCC8;
    list-style: none;
    text-decoration: none;
    
}
ul,li {
    padding: 0;
    
}
h1{
    font-family: 'helvetica-35';
    font-weight: 400;
    font-size: 1.953em;
}


#logo{
   
    width: 251px;
    max-width: 100vw;
    position: fixed;
    left: 0;
    padding-left: 30px;
    
    
    
    
}
.searchBar{
   
   
}
.searchBar input{
    bottom:5%;
    width:auto;
    padding-left: 30px;
    background-color: transparent;
    height: 26px;
    border-width: 1px;
    
    border-radius: 0;
    text-align: end;
    left:30px;
    right: 30px;
    border-color: #ECDCC8;
    animation: mymove 3s ease-  out;
    
}
.searchBar input::placeholder{
    color: #ECDCC8;
    opacity: 1;
}
.logo{
    top: 156px;
    transition: top 0.3s ease;
}
.logoinfo{
    position: absolute;
    top: 0px;
    transition:top 0.3s ease-out;

}

.info{
    position: fixed;
    padding-top: 200px;
    color: #ECDCC8;
    bottom: 500px;
    right: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    min-height:50vh ;
    bottom: 0;
    transition: bottom 0.3s ease-out;
}
.info p{
   
    font-size: 1em;
    color: #ECDCC8;
    width: 100%;
    
}
.cross{
    background-color:#ECDCC8 ;
    height: 10px;
    width: 10px;
    margin-top: 30px;
    margin-left: 30px;
    
}
.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Lado izquierdo de la flecha */
    border-right: 5px solid transparent; /* Lado derecho de la flecha */
    border-top: 5px solid #ECDCC8; /* Puede cambiar el color aquí */
  
    position: relative;
  }
  
 
.hidden{
    bottom: -100vh;
  
    
    transition: bottom 0.3s ease-out;
}

.hidemenu{
    position: absolute;
    bottom: +100vh;
    
    transition: bottom 0.3s ease-out;
}
.hideNav{
    position: absolute;
    left: -100vw;
    transition: left 0.3s ease;
}
.h1Recipe{
    position:fixed;
    font-family: 'helvetica-35';
    top: 50px;
    left:0;
    padding-left: 30px;
    font-size: 1.952em;
    letter-spacing: 6px;
    animation: mymove 1s ease ;
}
.recipeFilter ul a{
    padding-left: 30px;
    font-size: 0.8em;
      white-space: nowrap;
}


.recipeFilter{
    position: fixed;
    top: 110px;
    mix-blend-mode:multiply;
    left: -1px;
    max-width: 100%;
    min-width: 100%;
    border: 1px #ECDCC8 solid ;
    height: 26px;
    /* overflow-x: auto; Permite el desbordamiento horizontal */
    white-space: nowrap; /* Evita el ajuste de línea */
    
    
    animation: mymove 1.2s ease;
}
.recipeFilter ul{
    display: flex;
    margin: 0;
    align-items: center;
    height: 26px;
    overflow-x: scroll;


}
.recipe{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    animation: mymove 0.5s ease;

}
.recipe1{
    margin: 0;
    margin-top: 28px;
    


}
.recipe1 p{
    margin: 0;
    font-family: 'steiner-regular';
    letter-spacing: 1.5px;
    font-size: 1.25em

}
.recipe h1{
    font-family: 'steiner-regular';
    font-size: 2.441em;
    margin-bottom:0
}

.recipeItem{
    border-bottom: 0.5px solid #ECDCC8 ;
    display: flex;
    justify-content: space-between;

   

}
.recipeinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.instrucciones{
    font-size: 0.8em;
    margin-top: 36px;
}
.descripicionRecipe{
    width: 150px; /* Ancho máximo del contenedor, ajusta según tus necesidades */
    white-space: nowrap; /* Evita saltos de línea */
    overflow: hidden; /* Oculta el texto que desborda el contenedor */
    text-overflow: ellipsis;
    font-size: 0.8em;
}
.recipeIndex{
    animation: mymove .5s ease ;
}
.shopIndex{
    animation: mymove .5s ease ;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;

}
.product{
    
    
    box-sizing: border-box;
    border: 0.5px solid #ECDCC8;
    height:auto
}
.product img{
    height: auto;
    width: 100%;

}
.product h1{
    text-align: center;
    margin:0;
    font-size: 1em;
    white-space: nowrap; /* Evita saltos de línea */
    overflow: hidden; /* Oculta el texto que desborda el contenedor */
    text-overflow: ellipsis;
    font-family: 'steiner-regular';

}

.productInfo{
    background-color: #ECDCC8;
    color: #132336;
    mix-blend-mode:multiply;
    padding: 10px;
}
.product-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image{
    animation: product-image .6s ease ;
    width: 100%;
    position: fixed;

}
.product-description{
    background-color: #ECDCC8;
    height: 80vh;
    width: 100vw;
    top: 60vh;
    left: 0;
    right: 0;
    position: absolute;
    animation: product-description .3s ease ;
    z-index: 1;
    color: #132336;
    
}

.product-description h1{
    font-family: 'steiner-light';
    padding-left: 30px;

}
.product-description p{
    color: #132336;
    padding-left: 30px;
}
@keyframes mymove { 
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes product-description { 
    from {opacity: 0;
    top:80vh;}
    to {opacity: 1;
    top:60vh}
  }
@keyframes product-image { 
    from {opacity: 0;
    
}
    to {opacity: 1;
    
}

  }
